@model DetailViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location.LocationId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location.LocationId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location.AddressNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location.AddressNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location.PostalCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location.PostalCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location.City)
        </dd>
    </dl>
</div>
<div class="row">
    <table class="table table-light table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Sensors[0].TreeSpecies)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sensors[0].Longitude)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sensors[0].Latitude)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sensors[0].SensorId)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Sensors)
            {
                <tr>
                    <td>
                        @item.TreeSpecies
                    </td>
                    <td>
                        @item.Longitude
                    </td>
                    <td>
                        @item.Latitude
                    </td>
                    <td>
                        @item.SensorId
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Index" class="hyperlinks">Back to List</a>
</div>
