@model IEnumerable<Location>

@{
    ViewData["Title"] = "Locations";
}

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<h1>Locations</h1>

<p class="hyperlinks">
    <a asp-action="Create">Create New</a>
</p>

<hr />
<table class="table table-light table-hover">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.LocationId)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.AddressNumber)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.PostalCode)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.City)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="col">
                    @Html.DisplayFor(modelItem => item.LocationId)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddressNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostalCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.LocationId" class="hyperlinks">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.LocationId" class="hyperlinks">Delete</a> |
                    <a asp-action="AddSensor" asp-controller="Sensor" class="hyperlinks"
                       asp-route-id="@item.LocationId">Add Sensor</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="Vue">

    <div class="box">
        <div class="container-1">
            <span class="icon"><i class="fa fa-search"></i></span>
            <input id="searchString" type="search" placeholder="Search..." />
            <input type="submit" value="Search" class="btn searchButton" v-on:click="getData" />
        </div>
    </div>

    <h3>Searched locations</h3>

    <table class="table table-light table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.LocationId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AddressNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PostalCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="location in locations">
                <td>{{location.locationId}}</td>
                <td>{{location.name}}</td>
                <td>{{location.address}}</td>
                <td>{{location.addressNumber}}</td>
                <td>{{location.postalCode}}</td>
                <td>{{location.city}}</td>
            </tr>
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="~/js/Vue.js" asp-append-version="false"></script>
}